
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_AdminLayoutHeadComponentPartial")

    <body data-menu-color="light" data-sidebar="default">

        <div id="app-layout">


        @await Component.InvokeAsync("_AdminLayoutTopBarComponentPartial")
     
        @await Component.InvokeAsync("_AdminLayoutSideBarComponentPartial")
        
        <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">



                     @RenderBody()

                   

      

                </div> <!-- container-fluid -->

            </div> <!-- content -->

   
        </div>
        
           
          


        </div>
    @await Component.InvokeAsync("_AdminLayoutScriptsComponentPartial")
        
    </body>
</html>
