<div class="text-center mb-45">
    <h2 class="color-brand-1 mb-15">80 Yıldan Fazla Deneyimle <br class="d-none d-lg-block">Dünyanın Öncü Lojistik Firması</h2>
    <p class="font-md color-white">İşinizin büyümesi için büyük bir fırsat sunuyor, sektör liderleri için değer üretiyoruz.<br class="d-none d-lg-block">Uzman kadromuzla gurur duyuyor ve her proje için kararlılıkla çalışıyoruz.</p>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 mb-30">
        <div class="cardLeadingCompany">
            <div class="cardImage"> <span class="img"> <img src="/templates/assets/imgs/page/homepage1/handover.png" alt="transp"></span></div>
            <div class="cardInfo">
                <h3 class="color-brand-1">+ 380,000</h3>
                <p class="font-lg color-white">Güvenle Teslim Edilen Kargo</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-30">
        <div class="cardLeadingCompany">
            <div class="cardImage"> <span class="img"> <img src="/templates/assets/imgs/page/homepage1/cities.png" alt="transp"></span></div>
            <div class="cardInfo">
                <h3 class="color-brand-1">+ 120,000</h3>
                <p class="font-lg color-white">Hizmet Verilen Şehir</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-30">
        <div class="cardLeadingCompany">
            <div class="cardImage"> <span class="img"> <img src="/templates/assets/imgs/page/homepage1/client.png" alt="transp"></span></div>
            <div class="cardInfo">
                <h3 class="color-brand-1">+2280</h3>
                <p class="font-lg color-white">Memnun Müşteri</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-30">
        <div class="cardLeadingCompany">
            <div class="cardImage"> <span class="img"> <img src="/templates/assets/imgs/page/homepage1/company.png" alt="transp"></span></div>
            <div class="cardInfo">
                <h3 class="color-brand-1">+ 1200</h3>
                <p class="font-lg color-white">Destek Sağlanan Şirket</p>
            </div>
        </div>
    </div>
</div>